<footer>
  <p>
    Today, we embrace the uncertainty of each unfolding moment, and in doing so, we have stepped into the blissful flow of true reality. Touching the eternal, without needing to contain it.
  </p>
  <p>
    This page was generated on
    {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
  </p>
</footer>