<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>a project scaffold</small>
      </a>
    </li>
    <li>
      <a href="/play">play<small>modern build tools</small>
      </a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
  {% endif %}
</header>