---
title: TAYLRD
subtitle: A project scaffold for <a href="https://jamstack.org/">JAMSTACK</a>, <a href="https://11ty.dev">SSG's</a>, <a href="https://netlify.com">Netlify</a>, <a href="https://www.netlify.com/tags/identity/">Identity</a>, <a href="https://www.netlify.com/products/functions/">serverless functions</a>, <a href="https://stripe.com">Stripe</a> and other musings.
layout: layouts/base.njk
---
<img src="/images/structure.png"/>