---
title:
layout: layouts/base.njk
---

<img src="images/logospelled.png">
{# <img src="images/sweetjam.png" alt=""> #}

<p class="subtitle">We <em>love</em> to make things for the web and are <span class="blue"><em>passionate</em></span> about the projects we are involved in. Our clients are very <span class="blue">important</span> to us and we love to foster those relationships. We see the challenges that small businesses face, especially in these times, and are committed through technology to ease some of the burden so that you can focus on what it is you do. </p>

<p>We have helped many businesses Using <span class="orange">modern build tools</span>, we can rapidly bring you from concept to .</p>
<p class="subtitle">A project scaffold for getting building quickly on Eleventy. Making good use of and leveraging JAMSTACK, speed of SSG's, power of Netlify, breaking down the complexity of authentication with Identity, microservices with serverless functions, getting paid with Stripe and other musings.</p>