---
title: Let's Play
layout: layouts/base.njk
subtitle: Netlify Identity, serverless functions, Fauna and Stripe Subscriptions.
---

<h2 style="text-align:center;margin-bottom:1.5rem">DM Digital Classrooms</h2>

<div class="user-info">
  <button id="left">Log In</button>
  <button id="right">Sign Up</button>
</div>

<div>
  <div class="content">
    <h2>Junior Classroom</h2>
    <div class="free"></div>
  </div>
  <div class="content">
    <h2>Teen Classroom</h2>
    <div class="pro"></div>
  </div>
  <div class="content">
    <h2>Senior Classroom</h2>
    <div class="premium"></div>
  </div>
</div>

<template id="content">
  <figure class="content-display">
    <img />
      <figcaption>
        <p class="credit"></p>
      </figcaption>
  </figure>
</template>

<script>



</script>