/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #434343;
$text-color: #fffffe;
$accent-color: #5d8aa8;
$dark-color: #16161a;
$tertiary-color: #4a796b;
$bright-color: #e0923d;
